<?xml version="1.0" encoding="utf-8"?>
<Config>
	<WebServiceUrl>
		<CommandCenter>
			<WebSocket>ws://10.12.22.93/tvucc/websocket</WebSocket>
		</CommandCenter>
		<GridSwitch>
			<WebSocket>ws://10.12.22.100:8585/tvugs/websocket</WebSocket>
		</GridSwitch>
	</WebServiceUrl>
	<Nginx>
		<RootDir>/data/file/nginx/record</RootDir>
	</Nginx>
	<Terminal>
		<PSIP>10.12.22.100</PSIP>
		<PSPort>3970</PSPort>
		<ExternalIP>0.0.0.0</ExternalIP>
		<ExternalPort>8088</ExternalPort>
		<LocalIP>0.0.0.0</LocalIP>
		<LocalPort>8088</LocalPort>
		<URL>url=0:9999/xyz</URL>
		<PlayURL>http://127.0.0.1:9999/xyz</PlayURL>
		<TPDSWebUrl>http://10.12.22.93/tp/Out/ThumberNailServlet?flag=0x{0}&amp;resourceId=0x{1}</TPDSWebUrl>
		<TPDSSendWebUrl/>
		<TPDSSendStatus>http://10.12.22.93/tp/servlet/OnlineRServlet</TPDSSendStatus>
		<TPDSSendThumbnail>http://10.12.22.93/tp/servlet/OnlineThumberNailServlet</TPDSSendThumbnail>
		<TPDSSendHeartBeat>udp://10.12.22.95</TPDSSendHeartBeat>
		<TPDSGetThumbnailInterval>10</TPDSGetThumbnailInterval>
		<TPDSSendThumbnailInterval>1</TPDSSendThumbnailInterval>
		<TPDSSendStatusInterval>10</TPDSSendStatusInterval>
		<TPDSSendHeartBeatInterval>0.5</TPDSSendHeartBeatInterval>
		<LiveSwitchWebUrl>http://10.12.22.100:8585/tvucc/Tvugs4XServlet?operate=1&amp;id={0}</LiveSwitchWebUrl>
		<LiveSwitchGetPreloadInterval>1</LiveSwitchGetPreloadInterval>
		<GridUseLocalConfig>false</GridUseLocalConfig>
		<GridWebUrl>http://10.12.22.93/gridserver/getXmlFile.action?type=r&amp;peerid={0}</GridWebUrl>
		<!--<GridWebUrl>http://10.12.22.100:8181/gridserver/getXmlFile.action?type=r&amp;peerid={0}</GridWebUrl>-->
		<GridPeerInfoWebUrl>http://10.12.22.93:8181/gridserver/getXmlFile.action?type=xr&amp;peerid={0}</GridPeerInfoWebUrl>
		<!--<GridPeerInfoWebUrl>http://10.12.22.93/gridserver/getXmlFile.action?type=xr&amp;peerid={0}</GridPeerInfoWebUrl>-->
		<GridUpdateInterval>5</GridUpdateInterval>
		<ShowExt>true</ShowExt>
		<ShowGrid>true</ShowGrid>
		<AutoDownload>False</AutoDownload>
		<ShowInfo>True</ShowInfo>
	</Terminal>
	<PeerThumbnail>
		<LegacyPackVersion>4.0.0.0build0</LegacyPackVersion>
	</PeerThumbnail>
	<WebRTC>
		<!--WebRTC地址-->
		<SignalServerUrl>wss://10.12.23.111:9091/</SignalServerUrl>
		<SharedEncoder>false</SharedEncoder>
		<!--true or false-->
		    <VideoCodec>H264</VideoCodec>
		<!--H264 VP8 VP9-->
                <RegistryMirror/>
	</WebRTC>
	<ENPS>
		<DestRootFolder>D:\WWW\</DestRootFolder>
	</ENPS>
	<UI>
		<WebBrowser>
			<CEF>
				<DevTool>1</DevTool>
			</CEF>
		</WebBrowser>
		<PackSource>
			<SortRule>0</SortRule>
		</PackSource>
		<PeerList>
			<Visible>True</Visible>
		</PeerList>
	</UI>
	<VoIP>
		<!--<ServerUrl>https://10.12.23.111:9091?caller=0x{0}</ServerUrl>-->
		<ServerUrl>https://10.12.23.232:9090?caller=0x{0}</ServerUrl>
		<Pack>
			<MinimumVersion>5.1.0.0build0</MinimumVersion>
		</Pack>
	</VoIP>
	<ProgressiveDownload>
		<ConvertCmdFormat>-y -blocksize 50 -i {0} -vcodec copy -acodec copy -timecode 1:1:1:1 -f mov {1}</ConvertCmdFormat>
		<AutoConvertTStoMOV>False</AutoConvertTStoMOV>
		<AutoConvertFileFormat>1</AutoConvertFileFormat>
	</ProgressiveDownload>
	<BasicMode>
		<Interview>
			<Id>0</Id>
			<Bitrate>2048</Bitrate>
			<Delay>2</Delay>
		</Interview>
		<Normal>
			<Id>1</Id>
			<Bitrate>5120</Bitrate>
			<Delay>4</Delay>
		</Normal>
		<FastMoving>
			<Id>2</Id>
			<Bitrate>5120</Bitrate>
			<Delay>8</Delay>
		</FastMoving>
		<SD>
			<Id>3</Id>
			<Bitrate>2048</Bitrate>
			<Delay>4</Delay>
		</SD>
		<TapeFeed>
			<Id>4</Id>
			<Bitrate>10240</Bitrate>
			<Delay>10</Delay>
		</TapeFeed>
		<User1>
			<DisplayName>User1</DisplayName>
			<Id>5</Id>
			<Bitrate>900</Bitrate>
			<Delay>2</Delay>
			<IsUserDefine>true</IsUserDefine>
			<VideoMode>Cbr</VideoMode>
		</User1>
		<User2>
			<DisplayName>User 2</DisplayName>
			<Id>6</Id>
			<Bitrate>3333</Bitrate>
			<Delay>2</Delay>
			<IsUserDefine>true</IsUserDefine>
			<VideoMode>Cbr</VideoMode>
		</User2>
	</BasicMode>
	<Vlc>
		<EnableSDI>1</EnableSDI>
		<DesktopParameters>:http-caching=400 :no-ffmpeg-hurry-up</DesktopParameters>
		<SdiParameters>:http-caching=400 :no-ffmpeg-hurry-up</SdiParameters>
	</Vlc>
	<DeckLink>
		<MatchInput>true</MatchInput>
		<Video>720P50</Video>
		<Aspect>0</Aspect>
		<LastFrame>Logo</LastFrame>
		<AudioAdjust>-60</AudioAdjust>
		<AudioAdjustV42>-30</AudioAdjustV42>
		<AudioAdjustMini>-100</AudioAdjustMini>
		<AudioAdjustGrid>25</AudioAdjustGrid>
		<AudioAdjustPreview>0</AudioAdjustPreview>
		<AudioAdjustFile>0</AudioAdjustFile>
		<MultipleAudioChannelsSupport>1</MultipleAudioChannelsSupport>
	</DeckLink>
	<VideoFeedback>
		<Enabled>true</Enabled>
		<EnabledPack>true</EnabledPack>
		<Port>10004</Port>
		<PortPack>40001</PortPack>
		<OutputPort>80</OutputPort>
	</VideoFeedback>
	<WebREncoder>
		<Enabled>true</Enabled>
		<M3U8N>5</M3U8N>
		<M3U8D>0.5</M3U8D>
		<SDICardNumber>1</SDICardNumber>
	</WebREncoder>
	<FecTransport>
		<Enabled>true</Enabled>
		<RpcServerIp>127.0.0.1</RpcServerIp>
		<RpcServerPort>6530</RpcServerPort>
	</FecTransport>
	<Setting>
		<PreconfiguredBitrate>5120</PreconfiguredBitrate>
		<PreconfiguredDelay>2</PreconfiguredDelay>
	</Setting>
	<Alert>
		<Compose>
			<GroupUrl>http://10.12.22.100:8383/tvucc/getGroupInfoByPeerId.action?peerId={0}</GroupUrl>
		</Compose>
	</Alert>
	<AutoRecord>
		<Transcoder>tvu264</Transcoder>
		<FileRecord>true</FileRecord>
	</AutoRecord>
	<LogoOverlay>
		<Enabled>false</Enabled>
	</LogoOverlay>
	<LiveEncoder>
		<StartPort>32000</StartPort>
		<Logo>
			<FileName/>
			<IsLogoEnabled>True</IsLogoEnabled>
			<XOffset>30</XOffset>
			<IsEnabled>False</IsEnabled>
		</Logo>
	</LiveEncoder>
	<ExEncoder>
		<Logo>
			<FileName>live.png</FileName>
		</Logo>
	</ExEncoder>
	<Producer>
		<Source>
			<SharedMemoryType>Default</SharedMemoryType>
		</Source>
		<OutputPreview>
			<DeckLink>
				<IsSDIOutputEnabled>false</IsSDIOutputEnabled>
				<CardNumber>1</CardNumber>
			</DeckLink>
			<Gop>30</Gop>
			<M3U8N>5</M3U8N>
			<M3U8D>0.3</M3U8D>
			<VBitrate>800K</VBitrate>
		</OutputPreview>
		<InputPreview>
			<Gop>30</Gop>
			<M3U8N>5</M3U8N>
			<M3U8D>0.3</M3U8D>
			<VBitrate>800K</VBitrate>
		</InputPreview>
		<Logo>
			<FileName>IMG_06122016_195351.png</FileName>
			<XOffset>200</XOffset>
			<YOffset>200</YOffset>
		</Logo>
	</Producer>
	<WebSite>
		<EnableWebControl>True</EnableWebControl>
	</WebSite>
	<ProgressiveDownload>
		<AutoConvertTStoMOV>True</AutoConvertTStoMOV>
	</ProgressiveDownload>
	<R2TPDSWrapper>
		<WrapR2TPDS>false</WrapR2TPDS>
	</R2TPDSWrapper>
	<TokenSystem>
		<Enabled>True</Enabled>
	</TokenSystem>
	<SmartCaption>
		<LineCount>3</LineCount>
		<LanguageCode>en-US</LanguageCode>
		<LineLength>34</LineLength>
		<Enable>True</Enable>
		<DelaySecond>13</DelaySecond>
	</SmartCaption>
	<Ftp>
		<Enabled>true</Enabled>
	</Ftp>
	<GridEncoder>
		<Input>
			<Live>
				<OverrideFlag>1</OverrideFlag>
			</Live>
		</Input>
	</GridEncoder>
	<GLinkEncoder>
		<HEVCEnabled>
			True
		</HEVCEnabled>
	</GLinkEncoder>
	<VisionTag>
		<Enabled>0</Enabled>
	</VisionTag>
</Config>
